header{
  background-color: #ffffff !important;
  position: sticky;
  top: 0px!important;
  z-index: 100;
}

h1{
  display: none;
  font-family: 'Poppins', sans-serif;;
  font-size: 2.5rem;
  font-weight: 700;
}

.header-logo{
  padding-left: 3%;
  padding-right: 3%;
}

/* Estilos específicos para la barra de navegación móvil */
.mobile-navbar {
  background-color: black;
  color: white;
  position: sticky;
  padding-left: 3%;
  padding-right: 3%;
}

.mobile-navbar .nav-link {
  text-decoration: none;
  border-radius: 20px;
  color: white;
  margin-right: 5px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px!important;
}

.nav-right{
  position: fixed !important;
  top: 90px !important;
  right: 20px !important;
}

.mobile-navbar .nav-link:last-child {
  margin-right: 0px;
}

.nav-link-inicio{
  margin-top: 10px;
}


.dropdown{
  display: flex;
  align-items: center !important;
}

#nav-dropdown{
  border-radius: 20px !important;
  color: white !important;
}

.dropdown-menu{
  background-color: black !important;
  color: white !important;
  border: transparent !important;
}
.navbar-nav .dropdown-menu{
  position: absolute;
}

@media (min-width: 540px){
  h1{
    display: block;
  }
}

/* Pantallas grandes */
@media (min-width: 992px) {
  .mobile-navbar {
    height: 56px;
  }

  .nav-link:hover{
    color: white !important;
    background-color: #ed4234 !important;
    
  }
  .navbar-nav .dropdown-menu{
    position: static;
  }

  .ml-auto .nav-link {
    margin-top: 0!important; /* Elimina el margen en pantallas grandes */
  }
  
  .dropdown-item:hover{
    color: white !important;
    background-color: #ed4234 !important;
  }
  .nav-link-inicio{
    margin-top: 0;
  }

  .dropdown-toggle{
    padding: 10px !important;
  }
  
  .dropdown-toggle::after{
    font-size: x-large !important;
    vertical-align: middle !important;
  }
}
