header{
  background-color: #ffffff !important;
  position: sticky;
  top: 0px!important;
  z-index: 100;
}

h1{
  display: none;
  font-family: 'Poppins', sans-serif;;
  font-size: 2.5rem;
  font-weight: 700;
}

.header-logo{
  padding-left: 3%;
  padding-right: 3%;
}

/* Estilos específicos para la barra de navegación móvil */
.mobile-navbar {
  background-color: black;
  color: white;
  position: sticky;
  padding-left: 3%;
  padding-right: 3%;
}

.mobile-navbar .nav-link {
  text-decoration: none;
  color: white;
  margin-right: 0px;
  font-size: 1.2em;
  font-weight: bold;
}

.nav-right{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  position: fixed !important;
  top: 90px !important;
  right: 20px !important;
  margin-top: 8px;
}

.mobile-navbar .nav-link:last-child {
  margin-right: 0px;
}

.nav-link-inicio{
  margin-top: 10px;
}


.dropdown{
  display: flex;
  align-items: center !important;
}

#nav-dropdown{
  color: white !important;
}

.dropdown-menu{
  background-color: black !important;
  color: white !important;
  border: transparent !important;
}
.navbar-nav .dropdown-menu{
  position: absolute;
}

.vehiculos-dropdown{
  padding: 1px 5px 2px !important;
  margin-right: 0px !important;
}

.dropdown-toggle::after {
  font-size: 1.5rem; /* Ajusta el tamaño del icono */
}

@media (min-width: 540px){
  h1{
    display: block;
  }
}

/* Pantallas grandes */
@media (min-width: 992px) {
  .mobile-navbar {
    height: 56px;
  }

  .nav-link:hover{
    color: white !important;
    background-color: #ed4234 !important;
    /* padding: 10px 15px!important; */
  }
  .navbar-nav .dropdown-menu{
    position: static;
  }

  .ml-auto .nav-link {
    margin-top: 0!important; /* Elimina el margen en pantallas grandes */
  }
  

  .dropdown-item:hover{
    color: white !important;
    background-color: #ed4234 !important;
  }
  .nav-link-inicio{
    margin-top: 0;
  }

  .mobile-navbar .nav-link {
    margin-right: 5px;
  }

  .mobile-navbar .nav-link:nth-child(1) {
    margin-right: 0px;
  }

  .nav-right{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center;
    position: relative !important;
    top: 0px !important;
    right: 0px !important;
    margin-top: 0px !important;
  }

}
