.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  width: 80%; /* Ancho del modal */
  max-width: 500px; /* Ancho máximo del modal */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.modal-content {
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd; /* Borde inferior */
  padding-bottom: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding-bottom: 20px;
}

.modal-footer {
  border-top: 1px solid #ddd; /* Borde superior */
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

/* Estilos para la navbar de categorías */
.navbar-categorias {
  background-color: gray;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para los botones en la navbar de categorías */
.navbar-categorias .nav-link {
  text-decoration: none;
  background-color: transparent;
  color: white;
  padding: 1px 5px 2px;
  width: fit-content;
}

/* Estilo para el botón de despliegue en la navbar de categorías */
.navbar-categorias .navbar-toggler {
  background-color: gray;
  border-color: black;
}

/* Estilo para el icono del botón de despliegue en la navbar de categorías */
.navbar-categorias .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.contenedor{
  min-height: 550px;
}

.btn{
  background-color: #321f56;
  border:#321f56 !important;
  margin-bottom: 1em;
}

.btn:hover{
  background-color: transparent;
  pointer-events: none;
}

.page-item button {
  background-color: transparent;
  color: #321f56;
  border-color: black;
}
.page-item.active button {
  background-color: #321f56; 
  color: white; /* Texto blanco */
  border-color: #321f56;
}
.page-item button:hover {
  pointer-events: none;
  background-color: transparent;
}

.container-categorias{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dropdown-menu{
  width: 100% !important;
  border-radius: 0px !important;
  /* transform: translate(0px, 23px) !important; */
}


.nav-dropdown-mobile {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}

.nav-dropdown-mobile .dropdown-menu {
  background-color: black;
  color: white;
}

.nav-dropdown-mobile .dropdown-item.active,
.nav-dropdown-mobile .dropdown-item:hover {
  background-color: #ca173e !important;
  color: white !important;
}

.spinner{
  height: 100vh;
  margin-top: 2em;
}

.card-productos{
  border: 1px solid black;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .card-productos{
   width: 65%;
  }
  .card-productos:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .card-img-top{
    width: 70%;
    object-fit: contain !important;
    align-self: center;
  }
  .mb-4{
    display: flex;
    justify-content: space-around !important;
  }
  
  .btn:hover{
    background-color: #4f45a7;
    color: white;
    cursor: pointer;
    pointer-events: auto;
  }  
  .page-item button:hover {
    border-color: #321f56; 
  }
  .nav-dropdown-mobile{
    display: flex !important;
    justify-content: center !important;
  }
}

@media (min-width: 992px) {
  .bg-custom{
    background-color: #ca173e;
  }
.nav-categorias{
    display: flex;
    justify-content: center;
  }

  .card-body-productos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
  }
  .image-card{
    height: 250px;
  }


  .nav-link-categorias{
    border-right: 1px solid white !important;   
  }

  .nav-link-categorias:last-of-type{
    border-right: none !important;
  }
  
}